Options -Indexes
DirectoryIndex index.php

<FilesMatch "^(config|database|database\.runtime|http|init|session|authentication)(\.example)?\.php$">
    Require all denied
</FilesMatch>

<FilesMatch "(^\.|\.(zip|sql|log|ini|env)$)">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule (^|/)\. - [F,L]
</IfModule>
