Options -Indexes
DirectoryIndex index.php

<FilesMatch "(^\.|\.(sql|md|log|ini|env)$|^VERSION$)">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule (^|/)\. - [F,L]
</IfModule>
